{# Load the tag library #}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
{% load mptt_tags %}
{% load common_tags %}


<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Menu builder v.1.0</title>
  </head>
  <body>
      <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Menu builder</a>
    </header>

<div class="container-fluid">
  <div class="row">
    {% draw_menu "main_menu" %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% block content %}
            {% endblock %}
    </main>

    <div class="container">
        <footer class="py-3 my-4">
            <hr>
            <p class="text-center text-muted">Coded by <a href="https://github.com/Morozov33">D.Morozov</a>, 2022</p>
        </footer>
    </div>

</div>
</div>
</body>
</html>
