{% load mptt_tags %}


<div class="col-md-auto">
  <ul class="list-unstyled">
    {% recursetree menu %}
      <li class="mb-1">
        <div class="btn-group">
          <a class="btn {% if node.get_url == path %}btn-link{% endif %} {% if node.level == 0 %} btn-outline-dark {% endif %}" href="{{ node.get_url }}" role="button">{{ node.name }}</a>
        {% if not node.is_leaf_node %}
          <button class="btn collapsed dropdown-toggle dropdown-toggle-split {% if node.level == 0 %}btn-outline-dark{% endif %}" data-bs-toggle="collapse" data-bs-target="#{{ node.name|lower|cut:" "|cut:"_" }}-{{ node.id }}-collapse"></button>
        </div>
        <div class="collapse {% if node.name in nodes_path %}show{% endif %}" id="{{ node.name|lower|cut:" "|cut:"_" }}-{{ node.id }}-collapse">
          <ul type="none">
            {{ children }}
          </ul>
        </div>
        {% endif %}
      </li>
    {% endrecursetree %}
  </ul>
</div>
