{# Load the tag library #}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
{% load mptt_tags %}


<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            {% recursetree menu_ %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                    {% if not node.is_leaf_node %}
                        <ul class="nav flex-column">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
    </ul>
</div>
</nav>
